<div th:fragment="header">
    <div class="custom-shape-divider-top-1683079404">
        <!-- Your SVG element goes here -->
    </div>
    <nav>
        <ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="https://github.com/jmeancode">Home</a>
            <br>
            <br>
            <a href="https://github.com/jmeancode">GitHub</a>
            <br>
            <br>
            <a href="https://jmean.tistory.com">Tistory</a>
            <br>
            <br>
            <a href="https://www.notion.so/Jmean-a5577ef8b388487a95c858f8dbb8c0e0?pvs=4">Notion</a>
        </ul>
    </nav>
</div>
